<h1>Welcome to Calculator!</h1>
<h2>Use the address bar to make calculations</h2>
<p>At the end of the current URL, after a slash (/), put in add, multiply, subtract, divide or exponent.</p>
<p>After another slash, put a number, followed by another slash and another number.</p>
<p>The calcuator will perform the operation on the two numbers entered.</p>

