<head>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Noteworthy">
	<style>
		body{
			background: url("http://www.dawn-productions.com/core/wp-content/uploads/2014/07/Duet.jpg");
			background-size: cover;
			text-align: center;
			color: #3BB9FF;
		}
		div{
			background: rgba(42, 26, 189, 0.5);
		}
		h1{
			font-size: 70px;
			margin-top: 450px;
			margin-bottom: -25px;
			font-family: 'Papyrus';
			font-style: italic;
		}
		img{
			border-radius: 100%;
		}
		h2{
			font-family: 'Noteworthy';
		}
		p{
			font-family: 'Noteworthy';
			font-style: italic;
			color: #3BB9FF;
		}
		a{
			color: white;
		}
	</style>
</head>

<body>
	<div>
		<h1>50% Disney</h1>

		<h2>A database of Disney duets</h2>
		<p>
			<%= link_to "See all songs", songs_path %>
		</p>
	</div>
	
</body>