<footer><div id="contact_me">
	<h1>Contact me!</h1>
	<ul>
		<li><a href="https://facebook.com/robertlplee">Facebook</a></li>
		<li><a href="https://www.linkedin.com/in/robertlplee">LinkedIn</a></li>
		<li><a href="https://instagram.com/robertlplee/">Instagram</a></li>
	</ul>
	<input type="email" placeholder="Your email">
	<a href="#"><input type="submit"></a>
</div></footer>

<a href="http://localhost:9393/">Return home</a>
