<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  	<title>Home</title>
</head>
<body>
	<header>
		<h1>Hi! I'm Robert Lee</h1> </br>
		<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/c38.0.148.148/p148x148/10247417_10153994633535581_1589428203_n.jpg?oh=663483211a15d741ebdd66786fcfcb7b&oe=55F65633&__gda__=1442011321_d2ed4f3f91968086ea2506ebfb3be949"> </br>
		<ul>
			<li><a href="http://localhost:9393/about_me">About me</a></li>
			<li><a href="http://localhost:9393/contact_me">Contact me!</a></li>
		</ul>
	</header>
	


	<div id="about_me_text"><p><a href="http://localhost:9393/about_me">I'm a 21 year old sophomore studying Urban Studies at Brown University.</a></p></div>

	

</body>